.parallax{
  background-image: url('https://i.imgur.com/Qn36P2r.gif');

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
