<div class="container">

  <div class="row mt-5 mb-5">
    <div class="col-md-4">
      <div class="card border-0" style="width: 18rem;">
        <div class="d-flex justify-content-center">
          <img class="card-img-top rounded-circle w-50" src="../../assets/theo.jpg" alt="Card image cap">
        </div>


        <div class="card-body">
          <h5 class="card-title text-center">Théo Rivero</h5>
          <p class="card-text text-center">Desevolvedor com conhecimentos web usando Angular e em web scraping usando Python</p>

          <a href="https://www.linkedin.com/in/th%C3%A9o-rivero-15a694181/" class="btn btn-outline-info d-flex justify-content-center mb-3" target="_blank">Likedin</a>
          <a href="https://github.com/theorivero" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>

          <hr class="mt-4 mb-4">

          <h6 class="mb-3 text-monospace text-center">Pesquisar por titulo</h6>

          <input type="text" class="form-control mb-3 w-100" placeholder="Pesquisar postagem">

          <button class="btn btn-outline-warning w-100" type="button">Pesquisa</button>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div>
        <h3 class="text-monospace text-center mb-4">Escreva um post</h3>
        <div class="form-goup">
          <label for="titulo" class="text-monospace">Titulo:</label>
          <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Digite seu titulo">
        </div>
        <div class="form-goup">
          <label for="texto" class="text-monospace">Texto:</label>
          <textarea name="texto" id="texto" class="form-control" cols="30" rows="8" placeholder="Digite seu texto"></textarea>
        </div>

        <div class="d-flex justify-content-end mt-4">
          <button type="publicar" class="btn btn-outline-info w-25">Publicar</button>
        </div>
      </div>
      <hr class="mt-5 mb-5">

      <h3 class="text-monospace text-center">Minhas Postagens</h3>
    </div>
  </div>
</div>
